/.vs
/LitEngine/obj
/LitEngine/bin/Debug
/LitEngine/bin/Release
/LitEngine/obj/Debug
/LitEngine/obj/Release
/LitEngine/bin
LitEngine/.DS_Store
.DS_Store
LitEngine/bin/Release/LitEngine.dll
LitEngine/bin/Release/LitEngine.pdb
LitEngine/bin/Release/LitEngine.pdb

LitEngineUnity/Library
LitEngineUnity/Logs
LitEngineUnity/Temp
LitEngineUnity/UserSettings
LitEngineUnity/Assembly-CSharp-Editor.csproj
LitEngineUnity/Assembly-CSharp.Player.csproj
LitEngineUnity/Assembly-CSharp.csproj
LitEngineUnity/LitEngine.Player.csproj
LitEngineUnity/LitEngine.csproj
LitEngineUnity/LitEngineEditor.Player.csproj
LitEngineUnity/LitEngineEditor.csproj
LitEngineUnity/LitEngineUnity.sln
LitEngineUnity/.idea
LitEngineUnity/obj
LoadingTimeTool/LoadingTime/.vs
LoadingTimeTool/LoadingTime/LoadingTime/bin
LoadingTimeTool/LoadingTime/LoadingTime/obj
LoadingTimeTool/LoadingTime/.idea
LitEngineUnity/PackageProject/UserSettings
LitEngineUnity/PackageProject/.vscode
LitEngineUnity/PackageProject/Library
LitEngineUnity/PackageProject/Logs
*.csproj
*.sln
LitEngineUnity/PackageProject/Temp
LitEngineUnity/PackageProject/.idea
